.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 100%;
  max-width: 320px;
}

.featureLink {
  color: var(--ifm-heading-color);
  text-decoration: none;
}

.featureLink:hover {
  color: var(--ifm-color-primary);
  text-decoration: underline;
}
